@model IEnumerable<UserManagement.MVC.Models.Search>

@{
    ViewData["Title"] = "Search";
}

<h1>Search for a Book</h1>

<form asp-action="Index" method="get">
    <div>
        <p>
            Book: <input type="text" name="searchString" value="" />
            <a asp-action="Index">Remove Filter</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUploaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUploaded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SearchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SearchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SearchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
